<!DOCTYPE html>
<html>
    <head>
        <title>Vue JS</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script>
    </head>
    <body>
        <div id="app">
            <input v-model="message">
             <button v-on:click="buttonClick">Submit</button>
            <p>{{message}}</p>
            <ul>
                <li v-for="movie in movie_items">{{movie}}</li>
                
            </ul>
           
        </div>
        <script>
            new Vue({
                el:"#app",
                data:{
                    'message': 'Hello Vue!',
                    'movie_items':['The BFG', 'Phantom Boy']
                },
                methods:{
                    buttonClick: function(){
                        alert('Thank you');
                    }
                }       

            });
        </script>
    </body>
</html>
